.wrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
  > * {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.submitBtn {
  width: 100%;
}
.buttons {
  display: flex;
  > * {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
