.wrapper {
  margin-left: auto;
  > form {
    display: flex;
    > * {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-form-item-explain {
      display: none;
    }
  }
}
